/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
  font-family: jokerman;
  src: url(../assets/fonts/Jokerman.ttf);
}

/* fonts */

:root{
  --rebbon-blue:#89E3FF;
  --midnight:#1A222D;
  --dark-blue:#0803FF;
  --tin-white:#FAFFFE;
  --green:#00FF75;
  --chill-green:#2BD4A4;
  --yellow:#FFEF89;
  --peal:#FFAC89;
  --black:#000;
  --purple:#B507F2;
  --red:#F10B0B;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
::before,::after{
  box-sizing: border-box;
}

body{
  /* font-family: 'jokerman', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

section::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
section::-webkit-scrollbar-track {
border-radius: 10px;
/* background-color: transparent;
scrollbar-color: transparent; */
}
section::-webkit-scrollbar-thumb {
border-radius: 7px;
background: var(--pri);
}

header{
  padding: 0rem 1rem;
}