:root{
  --rebbon-blue:#89E3FF;
  --midnight:#1A222D;
  --tin-white:#FAFFFE;
  --chill-green:#2BD4A4;
  --yellow:#FFEF89;
  --peal:#FFAC89;
  --black:#000;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
::before,::after{
  box-sizing: border-box;
}
