.splash_container{
    background-color: var(--midnight);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.6s ease;
}
.splash_container.unshow{
    top: 0;
    right: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    animation: displayNone 0.1s linear 0.6s;
    transition: all 0.6s ease;
}
.splash_container.unshow.dis{
    display: none;
}

.splash_container .icon{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.splash_container .icon .hand{
    position: relative;
    z-index: 1;
}
.splash_container .icon .hand .key{
    position: absolute;
    top: 1rem;
    right: 0;
    left: 0;
    transition: all 0.5s ease;
}
.splash_container .icon .hand .key.leftkey{
    top: 2.2rem;
    left: 0.9rem;
    animation: keyAnimation 2s linear 0s infinite alternate;
}
.splash_container .icon .hand .key.centerkey{
    top: 4.4rem;
    left: 2.3rem;
    animation: centerKeyAnimation 2s linear 0s infinite alternate;
}
.splash_container .icon .hand .key.rightkey{
    top: 2rem;
    left: 3.7rem;
    animation: keyAnimation 2s linear 0s infinite alternate-reverse;
}
.splash_container .circle{
    position: absolute;
    z-index: -1;
    background-color: var(--rebbon-blue);
    height: 0px;
    width: 0px;
    transition: all 0.5s ease;
    border-radius: 50%;
    top: -50%;
    right: 0;
    left: -30%;
    bottom: 0;
    /* margin: auto; */
    animation: circleAni 2s linear 0.5s infinite alternate;
}
.splash_container .circle.two{
    background-color: var(--chill-green);
    transition: all 0.5s ease;
    top: -50%;
    right: 0;
    left: -30%;
    bottom: 0;
    /* margin: auto; */
    animation: circleAni 1.5s linear 1s infinite alternate;
}
.splash_container .circle.three{
    background-color: var(--peal);
    transition: all 0.5s ease;
    top: -50%;
    right: 0;
    left: -30%;
    bottom: 0;
    /* margin: auto; */
    animation: circleAni 2s linear 2s infinite alternate;
}
.splash_container .circle.four{
    background-color: var(--peal);
    transition: all 0.5s ease;
    top: 0;
    right: -100%;
    left: 0;
    bottom: -100%;
    margin: auto;
    animation: circleAni 1.5s linear 0.3s infinite alternate;
}
.splash_container .circle.five{
    background-color: var(--yellow);
    transition: all 0.5s ease;
    top: 0;
    right: -100%;
    left: 0;
    bottom: -100%;
    margin: auto;
    animation: circleAni 2s linear 0.9s infinite alternate;
}
.splash_container .circle.six{
    background-color: var(--purple);
    transition: all 0.5s ease;
    top: 0;
    right: -100%;
    left: 0;
    bottom: -100%;
    margin: auto;
    animation: circleAni 1.5s linear 1.5s infinite alternate;
}

.splash_container h1{
    margin-top: 1rem;
    font-size: 4rem;
    font-family: 'jokerman', sans-serif;
    color: var(--green);
    z-index: 1;
}

@keyframes centerKeyAnimation {
    0%{
        transform: translateY(-60px);
    }
    40%{
        transform: translateY(-0px);
    }
    60%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(30px);
    }
}

@keyframes keyAnimation {
    0%{
        transform: translateY(-13px);
    }
    20%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(62px);
    }
}
@keyframes circleAni {
    0%{
        height: 100px;
        width: 100px;
        /* transform: scale(1); */
    }
    100%{
        height: 1000px;
        width: 1000px;
    }
}
@keyframes displayNone {
    0%{
        display: flex;
    }
    100%{
        display: none;
    }
}

