input{
    border: none;
    border-bottom: 1px solid var(--chill-green);
}
input:focus{
    border-bottom-width: 4px;
}
button{
    border-radius: 18px;
    border: 1px solid var(--chill-green);
    color: var(--chill-green);
    transition: all .2s ease;
}
button:active{
    background-color: #239e8a;
    color: var(--tin-white);
}
button:nth-child(2){
    background-color: var(--chill-green);
    color: var(--tin-white);
}
button:nth-child(2):active{
    background-color: #239e8a;
}
