.sidebar_container{
    width: 50px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
}
.sidebar_container .first_bar{
    height: 200px;
    background-color: var(--chill-green);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.sidebar_container .second_bar{
    height: 150px;
    background-color: var(--chill-green);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.sidebar_container .third_bar{
    align-self: flex-end;
}